@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');


h1 {
  font-size: 80px;
  text-shadow: 5px 5px #023047;
  text-align: center;
  color: #219EBC;
}

body {
  text-align: center;
  font-family: 'Silkscreen', cursive;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAAXNSR0IArs4c6QAAADtJREFUKFNjZCACMBJSw2Tg/h+vIpCCfxd2MhI0CWQTVkUwE2BOwVCErgCnSeiegZuEzQQU6/ApACkEAO5RFYLEx1njAAAAAElFTkSuQmCC
) repeat;
  background-color: #FFBB50;
}

input {
  font-family: 'Silkscreen', cursive;
  font-size: 12px;
  background-color: white;
  color: #023047;
  border: none;
  padding: 15px 15px;
  text-align: left;
  display: inline-block;
}

#youtube-audio {
  position: absolute;
}

::placeholder {
  color: grey;
}

.outer,
outer>div {
  border: 2px;
  width: 100px;
  color: #023047;
  background-color: white;
  height: 20px;
  display: inline-block;
}

form {
  margin-top: 200px;
  width: 50%
}

.hide {
  display: none;
}

.show {
  display: block;
}

.right {
  float: right;
  padding-right: 200px;
  padding-left: 70px;
  margin-right: 50px;
  margin-left: 700px;
  text-align: left;
  color: white;
  background-color: #023047;
  box-shadow: 10px 10px #219EBC;
  position: fixed;
}

.left {
  float: left;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  margin-left: 70px;
  text-align: left;
  color: white;
  background-color: #023047;
  box-shadow: 10px 10px #219EBC;
  position: fixed;
}

.random {
  float: left;
  padding-left: 70px;
  padding-right: 80px;
  padding-bottom: 50px;
  margin-top: 200px;
  margin-left: 700px;
  text-align: left;
  color: white;
  background-color: #219EBC;
  box-shadow: 10px 10px #023047;
  position: fixed;
}

.button3 {
  font-family: 'Silkscreen', cursive;
  font-size: 16px;
  background-size: 5px;
  color: #219EBC;
  box-shadow: 5px 5px #023047;
  border: none;
}

.button3:active {
  vertical-align: top;
  padding-bottom: 8px;
}

.button {
  font-family: 'Silkscreen', cursive;
  font-size: 16px;
  background-color: #219EBC;
  background-size: 5px;
  color: white;
  border: none;
  padding: 15px 50px;
  box-shadow: 5px 5px #023047;
  text-align: center;
  display: inline-block;
}

.button2 {
  font-family: 'Silkscreen', cursive;
  font-size: 16px;
  background-color: white;
  background-size: 5px;
  color: #023047;
  border: none;
  padding: 15px 31px;
  box-shadow: 5px 5px #219EBC;
  text-align: center;
  display: inline-block;
}

.button:active {
  vertical-align: top;
  padding-top: 8px;
}

.button2:active {
  vertical-align: top;
  padding-top: 8px;
}

img {
  padding-left: 400px;
  padding-top: 400px;
  position: fixed;
  margin-right: 200px;
}

footer {
  text-align: center;
  font-family: 'Silkscreen', cursive;
  font-size: 14px;
  color: #219EBC;
  margin-top: 800px;
  margin-bottom: 20px;
}