@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');
* {
    font-family: 'Montserrat';
}

.mainbox {
    width: 800px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    font-size: 10;
    color: black;
    background: rgba(255, 255, 255, 0.768);
}

.personal-info{
    align-self: flex-start;
    display: grid;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .personal-form-field{
    margin-top: 10px;
}

  .personal-experience{
    align-self: flex-start;
    display: grid;
    padding-bottom: 10px;
    padding-top: 10px;
  }


 .personal-activity {
    align-self: flex-start;
    display: grid;
    padding-bottom: 10px;
    padding-top: 10px;
 }
