body, h1, h2 {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

body {
    background-image: url('background.png');
    background-position: auto;
    font-family: monospace;
    font-size: 30px;
}

#todo{
    font-family: 'Courier New', monospace;
    font-size: 50px;
}

.section{
    font-family: 'Courier New', monospace;
    font-size: 20px;
}

span {
    padding: 30px;
    display: block;
}

