body, h1, h2 {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

body {
    background-image: url('background.png');
    background-position: auto;
    font-family: monospace;
    font-size: 30px;
}

#todo{
    font-family: 'Courier New', monospace;
    font-size: 50px;
}

.section{
    font-family: 'Courier New', monospace;
    font-size: 20px;
}

.box {
    margin: 40px;
    display: block;
}

.delete {
    border-radius: 10px;
    background-color: #FF1644;
    position: relative;
    font-size: 16px;
    margin-left: 14px;
    bottom: 7px;
}

input.checkbox {
    width: 25px;
    height: 25px;
}

.tab {
    border: none;
    background-color: #ABABAB;
}