body, h1, h2 {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#todo{
    font-family: 'Courier New', monospace;
    font-size: 50px;
}

.section{
    font-family: 'Courier New', monospace;
    font-size: 20px;
}

#edit{
    font-size: 30px;
    border: 0;
}

