@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Single Day');

* {
    font-family: 'Montserrat';
}

body {
    background-color: rgb(235, 248, 248);
    background-image: url ("/Image/bg02-01.jpg");
    text-align: left;
    padding-left: 2%;
    padding-top: 2%;
    background-repeat: no-repeat;
    background-size: 10% 10%;
  }

.mainbox {
    width: 800px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    font-size: 10;
    color: black;
    background: rgba(255, 255, 255, 0.768);
}

h1 {
    padding-top: 80px;
    padding-bottom: 5px;
    margin-top: 50px;
    font-size: 60px; 
    font-weight: bold;
    text-align:center;
    color: rgb(74, 74, 74);
    font-family: 'Single Day';
}

p{
    font-size: 20px; 

}

.menu {
    text-align: center;
    /* border : solid; */
    font-family: 'Single Day';
    font-size: 40px;

}



/* 음식 버튼 */
.button-01 {
    margin-top: 50px;
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-01:after {
    content: "";
    background-color: #fce66a;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button-01:hover:after {
    top: 0px;
    left: 0px;
  }
  
  .button-01:hover:after {
    top: 0px;
    left: 0px;
  }

  @media (min-width: 768px) {
    .button-01 {
      padding: 13px 50px 13px;
    }
}


/* 연애 버튼 */

.button-02 {
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-02:after{
    content: "";
    background-color: #fba6f3;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button-02:hover:after {
    top: 0px;
    left: 0px;
  }
  
  .button-02:hover:after {
    top: 0px;
    left: 0px;
  }

  @media (min-width: 768px) {
    .button-02 {
      padding: 13px 50px 13px;
    }
}


/* 드라마 버튼 */
.button-03 {
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-03:after {
    content: "";
    background-color: #95fad5;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button-03:hover:after {
    top: 0px;
    left: 0px;
  }
  
  .button-03:hover:after {
    top: 0px;
    left: 0px;
  }

  @media (min-width: 768px) {
    .button-03 {
      padding: 13px 50px 13px;
    }
}

.sub{
  display: none;
}

/* sub 창 */
.sub{
    margin: 5% 5% 5% 5%;
    padding-bottom: 5%;
    /* del later */
    /* border : solid; */
    text-align: center;
    background-color: #fce66a;
}

.VS{
    background-color: transparent;
    border: none;
    cursor: not-allowed;
}

.desc_drama{
  background-color: #51e611;
  margin: 5% 5% 5% 5%;

}

.A{
    width : 30%;
    background: url( "drone.png" );
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 30%;
    border: none;
    
}
.B{
    width : 30%;
    background: url( "bunker.png" );
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 30%;
    border: none;
}

.VS{
    /* line-height: %; */
    width : 20%;
    /* height : 10%; */
    /* background-size: cover; */
    /* border:solid; */
    /* padding-top: 20%; */
    padding-bottom: 20%;
    /* text-align: center; */
    background: url( "vs.png" );
    background-size: 100% 100%;
    /* background-repeat: no-repeat; */
    border: none;
    margin-left: 1%;
    margin-right: 1%;

}
