@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Single Day');
@import url('Font family/BubbleRainbow.ttf');
@import url('Font family/fullMarykate.ttf');
@import url('Font family/MaryKate.ttf');


* {
    font-family: 'Single Day';
}

body {
    background-color: rgb(235, 248, 248);
    background-image: url ("/Image/bg02-01.jpg");
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    background-repeat: no-repeat;
    background-size: 10% 10%;
  }

.mainbox {
    width: 800px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #ebebeb;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    font-size: 10px;
    color: black;
    background: rgba(255, 255, 255, 0.768);
}

h1 {
    font-family: 'Marykate';
    padding-top: 60px;
    padding-bottom: 5px;
    margin-top: -10px;
    font-size: 60px; 
    font-weight: regular;
    text-align: center;
    color: rgb(74, 74, 74);
    
}

p{
    font-size: 20px; 
    padding-top: 10px;
    font-family: 'Montserrat';

}

.menu {
    text-align: center;
    /* border : solid; */
    font-family: 'Single Day';
    font-size: 40px;

}

/* =============================== Home Button*/
.Home {
  appearance: none;
  background-color: rgb(235, 248, 248);
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  /* display: inline-block; */
  /* font-family: Clarkson,Helvetica,sans-serif; */
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  /* padding: 1.5em 2.2em; */
  padding: 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.Home:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #a2e2ff;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  text-align: center;
  height: 60%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.Home:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.Home:after {
  background-color: #FFFFFF;
  border: none;
}

.Home span {
  z-index: 1;
  position: relative;
}


/* =============================== 음식 버튼 */
.button-01 {
    margin-top: 50px;
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-01:after {
    content: "";
    background-color: #fce66a;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button-01:hover:after {
    top: 0px;
    left: 0px;
  }
  
  .button-01:hover:after {
    top: 0px;
    left: 0px;
  }

  @media (min-width: 768px) {
    .button-01 {
      padding: 13px 50px 13px;
    }
}


/* =============================== 연애 버튼 */

.button-02 {
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-02:after{
    content: "";
    background-color: #fba6f3;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button-02:hover:after {
    top: 0px;
    left: 0px;
  }
  
  .button-02:hover:after {
    top: 0px;
    left: 0px;
  }

  @media (min-width: 768px) {
    .button-02 {
      padding: 13px 50px 13px;
    }
}


/* =============================== 드라마 버튼 */
.button-03 {
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-03:after {
    content: "";
    background-color: #95fad5;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top