@import url ('https://fonts.googleapis.com/css?family=Montserrat');
* {
   font-family: 'Montserrat';
}
 
.maintitle {
  
   font-size: 40px;
   font-weight: bold;
   text-align: center;
   margin: 30px;
}
 
.mainbox {
   width: 800px;
   padding: 30px;
   margin: 30px;
   margin-right: auto;
   margin-left: auto;
   border: 1px solid #ebebeb;
   box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
   font-size: 10;
}
 
 
/* .mt-1 {
   font-size: bold;
   float:left;
}
 
.mt-2 {
   font-size: bold;
   float: right;
}
 
.mt-3 {
   float: left;
}
 
.mt-4 {
   float: right;
} */
 
 
.mt-1 {
   float: left;
}
 
.mt-2 {
   float: right;
}
 
.float-wrap {
   overflow: hidden;
}
 
 
/*
.resume-img {
  
   width:200px;
   height:200px;
 
   padding: 50px;
   border: 1px solid grey;
   cursor:pointer;
  
} */
 
.resume-pic-wrap{
   text-align: center;
}
 
.input-info {
   padding-bottom: 20px;
 
}
 
.float-wrap {
   overflow: hidden;
}
 
.container  {
   float: left;
 
}
 
 
 
#count {
   float: right;
}
 
#submit {
   float: right;
 }
 
 
 
h2 {
   font-size: 20px;
   color:#282828;
   font-weight: semi-bold;
  
   margin-top: 10px;
   margin-bottom: 16px;
 
   border-bottom: 1px solid #ebebeb;
   padding-bottom: 10px;
}
 
footer {
   text-align: center;
   background-color: #919191;
   padding: 25px;
   font-size: 12px;
   color: #ffffff;
}
 
 
.NEWNODE {
   background-color: red;
 
 
}
.weField{
 
}
