<!DOCTYPE html>
<html>
<head>
    <title>Summary of your Data</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .buttons {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            margin-bottom: 10px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1>Summary for your Budget</h1>
    
        <ul>
            {% for data in merged_data %}
                <h2>Summary {{ forloop.counter }}</h2>
                <h3>Income & Savings</h3>
                <li>income is {{ data.user_data.income }}</li>
                <li>saving is {{ data.user_data.savings }}</li>
                <li>remaining is {{ data.user_data.remaining }}</li>
                <br>
                <h3>Expenditures</h3>
                <li>rent is {{ data.expenditures_data.rent }}</li>
                <li>leisure is {{ data.expenditures_data.leisure }}</li>
                <li>grocery is {{ data.expenditures_data.grocery }}</li>
                <li>others is {{ data.expenditures_data.others }}</li>
                <br><br>
            {% endfor %}
    </ul>
    <a class="buttons" href="{% url 'menu' %}">Menu</a>
</body>
</html>
