<!DOCTYPE html>
<html>
<head>
    <title>Summary of your Data</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .buttons {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            margin-bottom: 10px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <h1>Summary for your Budget</h1>
    <ul>
        {% for item in users_data %}
            <h2>Summary for Income & Savings</h2>
            <li>income is {{ item.income}}</li>
            <li>saving is {{ item.savings}}</li>
            <li>remaining is {{ item.remaining}}</li>
            <br>
        {% endfor %}
        {% for item in expenditures_data %}
            <h2>Summary for expenditures</h2>
            <li>rent is {{ item.rent}}</li>
            <li>leisure is {{ item.leisure}}</li>
            <li>grocery is {{ item.grocery}}</li>
            <li>others is {{ item.others}}</li>
            <br>
        {% endfor %}
    </ul>
    <a class="buttons" href="{% url 'menu' %}">Menu</a>
</body>
</html>
